.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown h4 {
  margin-bottom: 5px;
}

.dropdown_content {
  background-color: var(--color-secondary-bg);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  // gap: 10px;
}

.title {
  font-size: 18px;
}

.dropdown_content p {
  padding: 14px 6px;
  color: var(--color-active-text);
  width: auto;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  }
}

.dropdown_content p:last-child {
  margin-bottom: 6px;
}

.dropdown:hover .dropdown_content {
  visibility: visible;
  opacity: 1;
}
