.info_container {
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-muted-text);
  background-color: var(--color-secondary-bg);
  width: 100%;
}
