.page_container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-items: center;

  max-height: 500px;
}

.page_container span {
  margin: auto;
  font-size: 5em;
  animation: changeColor 4s ease-in-out infinite;
}

.page_container p {
  font-size: 1.5em;
  text-align: center;
  color: var(--color-active-text);
}

@keyframes changeColor {
  0% {
    color: var(--color-active-text);
  }
  50% {
    color: var(--color-muted-text);
  }
  100% {
    color: var(--color-active-text);
  }
}
