.container {
  padding: 15px;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--dark-white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

  img {
    width: 200px;
    cursor: pointer;
  }
  .leftSide {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
