.container {
  padding: 15px;

  label {
    margin: 10px;
    display: flex;
    gap: 10px;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--black);
      outline: none;
      transition: border-color 0.3s ease;
      color: black;
      padding: 6px 12px 6px 12px;
      width: 500px;
      font-size: 1.1em;
      &:focus {
        border-bottom-color: var(--bright-blue);
      }
      &::placeholder {
        color: var(--light-black);
        opacity: 1;
      }
    }
  }
  hr {
    background-color: var(--green);
    height: 2px;
    border: none;
  }
}
