.card_container {
  width: 230px;
  height: auto;
  height: auto;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}

.card_container img {
  width: 100%;
  height: 90%;
}
