.hearth {
  color: var(--color-muted-text);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.hearth {
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8));
}

.hearth:active {
  transform: scale(0.9);
}

.active {
  color: var(--color-red);
}
