.block_container {
  h5 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul {
    margin-left: 5px;
  }

  li {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    @media (max-width: 1000px) {
      justify-content: center;
    }

    &:hover {
      color: var(--color-active-text);
    }
  }
}

.item_icon {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.active {
  color: var(--color-active-text);
  .item_icon {
    color: var(--color-black-red);
  }
}

.item_text {
  @media (max-width: 1000px) {
    display: none;
  }
}
